<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.apc.tradingsimulator"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.apc.tradingsimulator.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.apc.tradingsimulator.AddStockActivity"
            android:label="@string/title_activity_add_stock"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDialog.NoActionBar" >
        </activity>
        <activity
            android:name="it.apc.tradingsimulator.StockActivity"
            android:label="@string/title_activity_stock"
            android:parentActivityName="it.apc.tradingsimulator.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="it.apc.tradingsimulator.BuyActivity"
            android:label="@string/title_activity_buy"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDialog" >
        </activity>
        <activity
            android:name="it.apc.tradingsimulator.SellActivity"
            android:label="@string/title_activity_sell"
            android:screenOrientation="portrait"
            android:theme="@style/MaterialDialog" >
        </activity>
        <activity
            android:name="it.apc.tradingsimulator.ChartActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen"
            android:screenOrientation="fullSensor"
            android:label="@string/title_activity_chart" >
        </activity>
    </application>

</manifest>
